*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/* ========================================================Global*/
body{
    background: url("./back1.jpg");
    font-family: poppins, sans-serif;
    color: white;
    height: 100%;
}

section{
    text-align: center;
    height: 800px
    
}



/* ========================================================Home*/


.home img{
    width: 200px;
    margin-top: 70px;
}

.home h1{
    font-weight: lighter;
    font-size: 20px;
}

.home p{
    font-size: 20px;
}

.social-midea{
    text-align: center;
    margin-top: 50px;
}

.social-midea img{
    width: 50px;
    margin: 20px;
    
}


/* ========================================================Sobre*/
.topo-sobre{
    display: flex;
    
}

.sobre img{
    width: 70px;
    height: 83.72px;   
    margin-left: 50px;
    margin-top: 30px;
}

.sobre  h2{
   margin-left: 30px;
   margin-top: 40px;
   
}

.texto-sobre{
    width: 272px;
    height: 418px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    margin-top: 40px;
}

.sobre p{
    text-align: center;
    margin-top: 18px;
}

/* ========================================================Loja*/



.topo-loja{
    display: flex;
   
}

.loja img{
    width: 70px;
    height: 83.72px;
    margin-left: 50px;
    margin-top: 30px;
}


.topo-loja h2{
    margin-left: 30px;
    margin-top: 30px;
}

.texto-loja{
    width: 272px;
    height: 250px;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
}

.loja p{
    text-align: center;
    margin-top: 18px;
}


.ifood{
    width: 280px;
    height: 150px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.ifood img{
    width: 50px;
    height: 50px;
    margin: 20px;
    margin: 16px;
}



/* ========================================================Contact*/

.contact{
    text-align: center;
    height: 700px;
}

.contact img{
    width: 120px;
    margin-top: 20px;
   
}

.titulo{
    padding-top: 20px;
}


form{
    background-color: #74adde7e;
    width: 280px;
    height: 370px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

input{
    width: 214px;
    margin-top: 30px;
   background: none;
   border: none;
   border-bottom: solid 2px white;
   color: white;
}


textarea{
    width: 214px;
    height: 100px;
    margin-top: 30px;
    background: none;
    color: white;
    border: solid 2px white;
}

.enviar{
    margin-top: 30px;
    border: solid 2px white;
    background: white;
    color: #74adde;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.534) 3px 3px;
}

/* ========================================================Nav*/
.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #74adde7e;
    text-align: center;
    padding-top: 8px;
    margin-top: 50px;
    
}


.nav a{
    text-decoration: none;
    color: white;
    margin: 7px;
}
